@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #1677ff;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  #app {
    padding: 0;
  }
}
